#
# Excludes files and folders from the Docker context
#
# Docs: https://docs.docker.com/engine/reference/builder/#dockerignore-file
#
.devcontainer/
.git/
.github/
.vscode/
.pnpm-store/
.dockerignore
.editorconfig
.hadolint.yml
LICENSE
README.md

# only /src folder is needed
